@{
    ViewData["Title"] = "SMAPI log parser";
}
@using Newtonsoft.Json
@using StardewModdingAPI.Web.Framework.LogParsing.Models
@model StardewModdingAPI.Web.ViewModels.LogParserModel
@section Head {
    <link rel="stylesheet" href="~/Content/css/log-parser.css?r=20180101" />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" crossorigin="anonymous"></script>
    <script src="~/Content/js/log-parser.js?r=20180101"></script>
    <script>
        $(function() {
            smapi.logParser({
                logStarted: new Date(@Json.Serialize(Model.ParsedLog?.Timestamp)),
                showPopup: @Json.Serialize(Model.ParsedLog == null),
                showMods: @Json.Serialize(Model.ParsedLog?.Mods?.ToDictionary(p => p.Name, p => true), new JsonSerializerSettings { Formatting = Formatting.None }),
                showLevels: {
                    trace: false,
                    debug: false,
                    info: true,
                    alert: true,
                    warn: true,
                    error: true
                }
            }, '@Model.SectionUrl');
        });
    </script>
}

@*********
** Intro
*********@
<p id="blurb">This page lets you upload, view, and share a SMAPI log to help troubleshoot mod issues.</p>
<input type="button" id="upload-button" value="Share a new log" />

@if (Model.ParsedLog?.IsValid == true)
{
    <h2>Parsed log</h2>
    <div id="output">
        <table id="metadata">
            <caption>Game info:</caption>
            <tr>
                <td>SMAPI version:</td>
                <td>@Model.ParsedLog.ApiVersion</td>
            </tr>
            <tr>
                <td>Game version:</td>
                <td>@Model.ParsedLog.GameVersion</td>
            </tr>
            <tr>
                <td>Platform:</td>
                <td>@Model.ParsedLog.OperatingSystem</td>
            </tr>
            <tr>
                <td>Mods path:</td>
                <td>@Model.ParsedLog.ModPath</td>
            </tr>
            <tr>
                <td>Log started:</td>
                <td>@Model.ParsedLog.Timestamp.UtcDateTime.ToString("yyyy-MM-dd HH:mm") UTC ({{localTimeStarted}} your time)</td>
            </tr>
        </table>
        <br />
        <table id="mods">
            <caption>
                Installed mods:
                <span class="notice txt"><i>click any mod to filter</i></span>
                <span class="notice btn txt" v-on:click="showAllMods" v-if="stats.modsHidden > 0">show all</span>
                <span class="notice btn txt" v-on:click="hideAllMods" v-if="stats.modsShown > 0 && stats.modsHidden > 0">hide all</span>
            </caption>
            @foreach (var mod in Model.ParsedLog.Mods)
            {
                <tr v-on:click="toggleMod('@mod.Name')" class="mod-entry" v-bind:class="{ hidden: !showMods['@mod.Name'] }">
                    <td><input type="checkbox" v-bind:checked="showMods['@mod.Name']" v-if="anyModsHidden" /></td>
                    <td>@mod.Version</td>
                    <td>@mod.Author</td>
                    @if (mod.Errors == 0)
                    {
                        <td class="color-green">no errors</td>
                    }
                    else if (mod.Errors == 1)
                    {
                        <td class="color-red">@mod.Errors error</td>
                    }
                    else
                    {
                        <td class="color-red">@mod.Errors errors</td>
                    }
                </tr>
            }
        </table>
        <div id="filters">
            Filter messages:
            <span v-bind:class="{ active: showLevels['trace'] }" v-on:click="toggleLevel('trace')">TRACE</span> |
            <span v-bind:class="{ active: showLevels['debug'] }" v-on:click="toggleLevel('debug')">DEBUG</span> |
            <span v-bind:class="{ active: showLevels['info'] }" v-on:click="toggleLevel('info')">INFO</span> |
            <span v-bind:class="{ active: showLevels['alert'] }" v-on:click="toggleLevel('alert')">ALERT</span> |
            <span v-bind:class="{ active: showLevels['warn'] }" v-on:click="toggleLevel('warn')">WARN</span> |
            <span v-bind:class="{ active: showLevels['error'] }" v-on:click="toggleLevel('error')">ERROR</span>
        </div>

        <table id="log">
            @foreach (var message in Model.ParsedLog.Messages)
            {
                string levelStr = @message.Level.ToString().ToLower();

                <tr class="@levelStr mod" v-if="showMods['@message.Mod'] && showLevels['@levelStr']">
                    <td>@message.Time</td>
                    <td>@message.Level.ToString().ToUpper()</td>
                    <td data-title="@message.Mod">@message.Mod</td>
                    <td>@message.Text</td>
                </tr>
                if (message.Repeated > 0)
                {
                    <tr class="@levelStr mod mod-repeat" v-if="showMods['@message.Mod'] && showLevels['@levelStr']">
                        <td colspan="3"></td>
                        <td><i>repeats [@message.Repeated] times.</i></td>
                    </tr>
                }
            }
        </table>
    </div>
}
else if (Model.ParsedLog?.IsValid == false)
{
    <h2>Parsed log</h2>
    <div id="error" class="color-red">
        <p><strong>We couldn't parse that file, but you can still share the link.</strong></p>
        <p>Error details: @Model.ParsedLog.Error</p>
    </div>

    <h3>Raw log</h3>
    <pre>@Model.ParsedLog.RawTextIfError</pre>
}

<div id="upload-area">
    <div id="popup-upload" class="popup">
        <h1>Upload log file</h1>
        <div class="frame">
            <ol>
                <li><a href="https://stardewvalleywiki.com/Modding:Player_FAQs#SMAPI_log" target="_blank">Find your SMAPI log file</a> (not the console text).</li>
                <li>Drag the file onto the textbox below (or paste the text in).</li>
                <li>Click <em>Parse</em>.</li>
                <li>Share the URL of the new page.</li>
            </ol>
            <textarea id="input" placeholder="Paste or drag the log here"></textarea>
            <div class="buttons">
                <input type="button" id="submit" value="Parse" />
                <input type="button" id="cancel" value="Cancel" />
            </div>
        </div>
    </div>
    <div id="uploader"></div>
</div>
